# .gitignore (conciso para .NET)
# Build
bin/
obj/
artifacts/

# VS/VSCode
.vs/
.vscode/

# User secrets
**/secrets.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Tools
.nuget/*
!.nuget/feed/
!.nuget/feed/README.md
.nuke/
